.color_picker_main {
  ::-webkit-color-swatch-wrapper {
    padding: 0;
    overflow: hidden;
  }
  ::-webkit-color-swatch {
    border-radius: 8px;
    border-color: #ededed;
  }
}
.variant {
  ::-webkit-color-swatch-wrapper {
    padding: 0;
    overflow: hidden;
  }
}
.disabled_field {
  opacity: 0.5;
}
