@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #a91e2d;
  --primary-500: #a91e2d70;
  --secondary: #1a1a1a;
  --black: #000000;
  --white: #ffffff;
  --transparent: #00000000;
  --gutter-x: 24px;
}

// @layer base {
//   h1,
//   .h1 {
//     &:not(.ttl) {
//       @apply text-h1;
//     }
//   }

//   h2,
//   .h2 {
//     &:not(.ttl) {
//       @apply text-h2;
//     }
//   }

//   h3,
//   .h3 {
//     &:not(.ttl) {
//       @apply text-h3;
//     }
//   }

//   h4,
//   .h4 {
//     &:not(.ttl) {
//       @apply text-h4;
//     }
//   }

//   h5,
//   .h5 {
//     &:not(.ttl) {
//       @apply text-h5;
//     }
//   }

//   h6,
//   .h6 {
//     &:not(.ttl) {
//       @apply text-h6;
//     }
//   }
// }

@layer utilities {
}
